@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  color: #000000;
}

p {
  color: #000000;
  font-size: 20px;
  text-align: justify;
  text-align-last: justify;
  padding: 2px;
  overflow: hidden;
}

.dropdown-menu li a {
  color: #817e7e;
}
.dropdown-item {
  color: #000000 !important;
}

.navbar-brand {
  margin: 0;
  padding-left: 95px;
  margin-right: 400px;
}

.navbar {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-right: 95px;
  padding-top: 50px;
}

.navbar div ul li {
  list-style: none;
  margin-right: 20px;
  color: rgb(161, 161, 160);
}

.navbar div ul li a {
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
}

.nav-link {
  font-size: medium;
  text-decoration: none;
}

.carousel-item img {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}

.carousel-indicators {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fafafa;
  margin-right: 10px;
}

.carousel-indicators .active {
  background-color: #0b0b0b;
}

h5 {
  writing-mode: vertical-lr; /* "lr" indica la dirección del texto: de izquierda a derecha */
  transform: rotate(-180deg); /* Invierte el texto para comenzar desde abajo */
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 220px;
  margin-left: -95px !important;
}
@media (min-width: 320px) and (max-width: 768px) {
  h5 {
    font-size: 18px;
  }
}

.carousel-control-next-icon {
  background-image: url(../img/vector-right.svg);
}

.carousel-control-prev-icon {
  background-image: url(../img/vector-left.svg);
}

.btn-whatsapp {
  display: block;
  width: 70px;
  height: 100px;
  color: #fff;
  position: fixed;
  right: 150px;
  bottom: 20px;
  border-radius: 10%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .btn-whatsapp {
    height: 60px;
    right: -15px;
  }
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

textarea {
  height: 150px;
}


.text {
  font-size: 128px;
  font-weight: 900;
  transform: translateY(-206px);
  margin-left: -8px;
  margin-top: -145px !important;
}
@media (min-width: 320px) and (max-width: 768px) {
  .text {
    font-size: 48px;
  }
}

.text_gallery {
  font-size: 40px;
  font-weight: 900;
  padding-left: 97px;
  margin-top: 90px;
  color: #d7649d;
}

/*Botón Volver atrás*/
.up_down {
  font-weight: bold;
  cursor: pointer;
  transform: translateX(45px) !important;
  transform: translateY(-166px) !important;
  margin-left: 104px;
  margin-bottom: 185px;
}

#Book15 {
  column-count: 3; /* Divide el contenido en 3 columnas */
  column-gap: 20px; /* Espacio entre las columnas (opcional) */
  padding-left: 97px;
  padding-right: 97px;
  margin-top: -195px;
}

.column {
  break-inside: avoid; /* Evita que el párrafo se divida en varias columnas */
  font-size: 20px;
  text-align-last: left;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr 2fr 1fr 2fr 3fr 2fr 3fr 2fr 3fr 3fr;
  margin-top: 35px;
  padding-left: 97px;
  padding-right: 97px;
  gap: 10px;
  grid-template-areas:
    "foto1 foto2 foto3"
    "foto4 foto2 foto6"
    "foto4 foto5 foto6"
    "foto7 foto5 foto6"
    "foto7 foto8 foto9"
    "foto10 foto8 foto12"
    "foto10 foto11 foto12"
    "foto13 foto11 foto12"
    "foto13 foto14 foto15"
    "foto13 foto14 foto15";
}

.grid-container > div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.grid-container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-Foto1 {
  grid-area: foto1;
}

.container-Foto2 {
  grid-area: foto2;
}

.container-Foto3 {
  grid-area: foto3;
}

.container-Foto4 {
  grid-area: foto4;
}

.container-Foto5 {
  grid-area: foto5;
}

.container-Foto6 {
  grid-area: foto6;
}
.container-Foto7 {
  grid-area: foto7;
}
.container-Foto8 {
  grid-area: foto8;
}
.container-Foto9 {
  grid-area: foto9;
}
.container-Foto10 {
  grid-area: foto10;
}
.container-Foto11 {
  grid-area: foto11;
}
.container-Foto12 {
  grid-area: foto12;
}
.container-Foto13 {
  grid-area: foto13;
  grid-row-start: 8;
  grid-row-end: 10;
}
.container-Foto14 {
  grid-area: foto14;
}
.container-Foto15 {
  grid-area: foto15;
  grid-row-start: 9;
  grid-row-end: 10;
}

/*Formulario de Contacto*/
.form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px 0;
  list-style: none;
}

.form-column {
  flex: 1;
  padding: 5px;
}

/* Estilos para los campos de entrada */
label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

textarea {
  width: 400px;
  height: 281px;
}

/* Estilos para el botón de enviar */
.submit-button, .contacto_volver {
  display: block;
  padding: 10px;
  background-color: #d7649d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
}

#cabecera_form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d7649d;
}
.img-portada{
  width: 100% !important;
}

.text-contacto {
  font-size: 60px;
  font-weight: 800;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  list-style: none;
 }

.contact-info h3 {
  margin-top: 0;
  font-size: 32px;
  font-weight: 500;
  font: bold;
}

.content-container {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-container h2 {
  margin-top: 0;
}

.redSocial {
  text-align: center;
  margin-right: 10px;
}
