* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: #bd5ef3;
  font-family: "Quintessential", cursive;
}

p {
  color: #817e7e;
  line-height: 2rem;
  font-size: 1.6rem;
}

.dropdown-menu li a {
  color: #817e7e;
}

.navbar-brand {
  margin: 0;
  padding-left: 95px;
  margin-right: 400px;
}

.navbar {
  /*position: fixed;*/
  top: 0;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-right: 95px;
  padding-top: 50px;
}

.navbar div ul li {
  list-style: none;
  margin-right: 20px;
  color: rgb(161, 161, 160);
}

.navbar div ul li a {
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
}

.nav-link {
  font-size: medium;
  text-decoration: none;
}

.carousel-item img {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}

.carousel-indicators {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fafafa;
  margin-right: 10px;
}

.carousel-indicators .active {
  background-color: #0b0b0b;
}

h5 {
  display: inline-block;
  writing-mode: vertical-lr;
  text-align: left;
  font-size: 1.5rem;
  left: 10px;
  top: 50px;
  transform-origin: left top;
  transform: translateY(-138%) translateX(-2500%) rotate(-180deg);
}

.carousel-control-next-icon {
  background-image: url(../img/vector-right.svg);
}

.carousel-control-prev-icon {
  background-image: url(../img/vector-left.svg);
}

.btn-whatsapp {
  display: block;
  width: 70px;
  height: 100px;
  color: #fff;
  position: fixed;
  right: 150px;
  bottom: 20px;
  border-radius: 10%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .btn-whatsapp {
    height: 60px;
    right: -15px;
  }
}